nav{
  height: 60px;
  width: 1400px;
  padding-left: 25px;
  background-color: #0f1111;
  color: white;
}
#amzHeading{
  font-size: 25px;
  color: yellow;
  padding-left: 20px;
  padding-right: 200px;
  text-decoration: none;
}
#acc{
  padding-right: 200px;
}
#myca{
  padding-right: 200px;
}
#cu{
  padding-right: 200px;
}
#sch{
  background-color: #f08804;
  color: white;
}
.content{
  height: 625px;
}
#contentbox1{
  display: inline-block;
  background-color: rgba(255,0,0,0.5);
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
#contentbox2{
  display: inline-block;
  background-color: rgba(0,255,0,0.5);
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
#contentbox3{
  display: inline-block;
  background-color: rgba(0,0,255,0.5);
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
footer{
  background-color: black;
  color: white;
  text-align: center;
}