#divFirst{
  background-color: pink;
  display: inline;
}
button{
  display: block;
}
#div1{
  display: inline-block;
  background-color: blue;
  height: 100px;
  width: 100px;
  margin: 25px;
  padding: 25px;
}
#div2{
  display: inline-block;
  background-color: rgba(0,255,0,0.5);
  height: 100px;
  width: 100px;
   margin: 25px;
  padding: 25px;
}
#div3{
  display: inline-block;
  background-color: red;
  height: 100px;
  width: 100px;
   margin: 25px;
  padding: 25px;
}
 #outer{
  height: 50vh;
  width: 60vw;
  background-color:red;
  font-size: 2rem;
 }
 #inner{
  height: 50%;
  width: 50vw;
  background-color:green;
  margin-left: 10%;
  font-size: 1em;
 }
  div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
  }
  #db1{
    position: static;
  }
  #db2{
    position: relative;
    top: 15px;
    left: 15px;
  }
  #db3{
    position: absolute;
    bottom:15px;
  }
  #db4{
    position: sticky;
    top: 10px;
  }
